body {
  background-color: #d1defa;
  font-family: sans-serif, Arial, Helvetica;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

.page {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas:
    'header header header header'
    'nav-bar nav-bar nav-bar nav-bar'
    'main main main aside'
    'footer footer footer footer';
  grid-template-rows: 100px 70px auto 70px;
}

.header {
  grid-area: header;
  background-color: white;
  text-align: left;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  background: linear-gradient(90deg, #03228f 10%, #0e73e4 100%);
  width: 40px;
  height: 40px;
  border-radius: 300px;
}

.header__play {
  margin-top: 15px;
  margin-left: 16px;
  width: 0;
  height: 0;
  border-left: 12px solid white;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.header__title {
  margin-left: 10px;
}

.nav-bar {
  grid-area: nav-bar;
  background: linear-gradient(90deg, #03228f 10%, #0e73e4 100%);
}

.nav-bar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-bar li {
  padding: 10px;
}

.nav-bar a {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: lighter;
  transition: all 300ms;
}

.nav-bar a:hover {
  transform: scale(1.1, 1.1);
}

.main {
  grid-area: main;
  background-color: #f6f7f9;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.main__card {
  flex-grow: 1;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 6px #ddd;
  margin: 20px;
  padding: 60px 25px 60px;
}

.main__card-edit,
.main__card-delete {
  width: 100px;
  background-color: #0b70e1;
  color: white;
  border: 0;
  outline: 0;
  padding: 15px;
  border-radius: 3px;
  margin-top: 15px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms;
}

.main__card-delete {
  margin-left: 7px;
}

.main__card-edit:hover {
  background-color: #e77b00;
}

.main__card-delete:hover {
  background-color: #9b0202;
}

.aside {
  grid-area: aside;
  background-color: #f6f7f9;
  border-left: 1px solid #ddd;
  padding: 20px;
}

.aside__search,
.aside__add {
  box-sizing: border-box;
  width: 90%;
  margin: 20px;
  padding: 10px 20px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 6px #ddd;
}

.aside__form_input,
.aside__form_text-area,
.edit_popup__form_input {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 12px;
  border-radius: 5px;
  background-color: #f6f7f9;
  color: #454545;
  width: 80%;
  opacity: 4;
  outline: 0;
  border-color: transparent;
}

.aside_search-span {
  color: red;
}

.aside__form-submit,
.edit_popup__form-submit {
  width: 100px;
  background-color: #0b70e1;
  color: white;
  border: 0;
  outline: 0;
  padding: 15px;
  border-radius: 3px;
  margin-top: 15px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms;
}

.footer {
  grid-area: footer;
  background-color: #d1defa;
  color: #454545;
  border-top: 1px solid white;
  text-align: center;
  line-height: 68px;
  display: flex;
  justify-content: center;
  align-content: center;
}

@media (max-width: 1085px) {
  .main {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .main__card {
    width: 80%;
  }
}
